{% extends 'projectroles/base.html' %}

{% load projectroles_common_tags %}

{% block title %}Site Info{% endblock %}

{% block projectroles %}
<div class="row sodar-subtitle-container">
  <h2>
    <i class="fa fa-bar-chart"></i>
    Site Info:
    {% if site_instance_title %}
      {{ site_instance_title }}
    {% else %}
      {{ site_title }}
    {% endif %}
    {% if site_subtitle %}
      ({{ site_subtitle }})
    {% endif %}
  </h2>
</div>

<div class="container-fluid sodar-page-container">

  {# Project Statistics #}
  <div class="card" id="sodar-si-project-stats-card">
    <div class="card-header">
      <h4><i class="fa fa-cubes"></i> Project Statistics</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-md-3">Projects</dt>
        <dd class="col-md-9">{{ project_count }}</dd>
        <dt class="col-md-3">Categories</dt>
        <dd class="col-md-9">{{ category_count }}</dd>
      </dl>
    </div>
  </div>

  {# User Statistics #}
  <div class="card" id="sodar-si-user-stats-card">
    <div class="card-header">
      <h4><i class="fa fa-users"></i> User Statistics</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-md-3">Total Users</dt>
        <dd class="col-md-9">{{ user_total_count }}</dd>
        <dt class="col-md-3"> LDAP Users</dt>
        <dd class="col-md-9">{{ user_ldap_count }}</dd>
        <dt class="col-md-3"> Local/System Users</dt>
        <dd class="col-md-9">{{ user_local_count }}</dd>
        <dt class="col-md-3"> Administrators</dt>
        <dd class="col-md-9">{{ user_admin_count }}</dd>
      </dl>
    </div>
  </div>

  {# Project App Statistics #}
  {% for plugin, pl_data in project_plugins.items %}
    {% include 'siteinfo/_app_stats.html' %}
  {% endfor %}

  {# Backend Statistics #}
  {% for plugin, pl_data in backend_plugins.items %}
    {% include 'siteinfo/_app_stats.html' %}
  {% endfor %}

  {# Basic Site Info #}
  <div class="card" id="sodar-si-basic-card">
    <div class="card-header">
      <h4><i class="fa fa-info-circle"></i> Basic Info</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-md-3">Site Title</dt>
        <dd class="col-md-9">{{ site_title }}</dd>
        <dt class="col-md-3">Site Subtitle</dt>
        <dd class="col-md-9">{{ site_subtitle }}</dd>
        <dt class="col-md-3">Site Instance</dt>
        <dd class="col-md-9">{{ site_instance_title }}</dd>
        <dt class="col-md-3">Site Version</dt>
        <dd class="col-md-9">{% site_version %}</dd>
        <dt class="col-md-3">SODAR Core Version</dt>
        <dd class="col-md-9">{% core_version %}</dd>
      </dl>
    </div>
  </div>

  {# Remote Site Info #}
  <div class="card" id="sodar-si-remote-card">
    <div class="card-header">
      <h4><i class="fa fa-globe"></i> Remote Site Info</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-md-3">Site Mode</dt>
        <dd class="col-md-9">{{ site_mode }}</dd>
        {% if site_mode == 'SOURCE' %}
          <dt class="col-md-3">Target Sites</dt>
          <dd class="col-md-9"><a href="{% url 'projectroles:remote_sites' %}">{{ site_target_count }}</a></dd>
        {% endif %}
      </dl>
    </div>
  </div>

  {# Enabled Project Apps #}
  <div class="card" id="sodar-si-project-apps-card">
    <div class="card-header">
      <h4><i class="fa fa-cube"></i> Project Apps</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        {% for plugin in project_plugins.keys %}
        <dt class="col-md-3">
          <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
          {{ plugin.title }}
        </dt>
        <dd class="col-md-9">{{ plugin.description }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>

  {# Enabled Site Apps #}
  <div class="card" id="sodar-si-site-apps-card">
    <div class="card-header">
      <h4><i class="fa fa-sitemap"></i> Site Apps</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        {% for plugin in site_plugins %}
        <dt class="col-md-3">
          <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
          {{ plugin.title }}
        </dt>
        <dd class="col-md-9">{{ plugin.description }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>

  {# Enabled Backend Apps #}
  <div class="card" id="sodar-si-site-apps-card">
    <div class="card-header">
      <h4><i class="fa fa-server"></i> Backend Apps</h4>
    </div>
    <div class="card-body">
      <dl class="row">
        {% for plugin in backend_plugins.keys %}
        <dt class="col-md-3">
          <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
          {{ plugin.title }}
        </dt>
        <dd class="col-md-9">{{ plugin.description }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>

</div>
{% endblock projectroles %}
