{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-fluid">

  {# Display error if login was unsuccessful. #}
  {% if request.POST %}
  <div class="alert alert-danger omics-alert-top">
     Login failed. Please make sure the user name, domain and password are correct.
     <a href="#" class="pull-right omics-alert-close-link"><i class="fa fa-close text-muted"></i></a>
  </div>
  {% endif %}

  <div class="col-md-4 mx-auto my-5">
    <h2 class="omics-pr-content-title">Login</h2>

    <p>Please log in using your Charité or MDC account. Enter your user name
        as <code>username@CHARITE</code> or <code>username@MDC-BERLIN</code>.</p>

    <form class="form-signin" method="post" id="omics-form-signin">
      {% csrf_token %}
      <input type="text" name="username" id="omics-signin-username" class="form-control" placeholder="username@DOMAIN" required autofocus>
      <input type="password" name="password" id="omics-signin-password" class="form-control my-sm-2 mb-sm-2" placeholder="Password" required>
      <button class="btn btn-md btn-primary btn-block" type="submit" id="omics-signin-submit"><i class="fa fa-sign-in"></i> Sign In</button>
    </form>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('login_username1', {
        title: 'Log in to SODAR',
        text: 'To use the SODAR system, you must log in. For ' +
              'this, you need to use an existing Charité or MDC account.',
        attachTo: '#omics-signin-username bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('login_username2', {
        title: 'User Name and Domain',
        text: 'The user name must be supplied in the format ' +
              '"username@CHARITE" or "username@MDC-BERLIN", depending on the ' +
              'account used.',
        attachTo: '#omics-signin-username bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('login_username2', {
        title: 'Note on Multiple Accounts',
        text: 'IMPORTANT: if you have user accounts for both Charité and ' +
              'MDC, note that these user accounts will not be connected. ' +
              'Please choose one of your accounts and always use the same ' +
              'one to log in to the SODAR system. Also note ' +
              'that you will receive email notifications to the address ' +
              'specified for the account used.',
        attachTo: '#omics-signin-username bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

  </script>
{% endblock javascript %}
