{% extends 'projectroles/base.html' %}

{% load projectroles_common_tags %}

{% block title %}User Profile for {{ request.user.get_full_name }}{% endblock %}

{% block projectroles %}
<div class="row sodar-pr-content-title">
  <h2 class="sodar-pr-content-title">{{ request.user.get_full_name }}</h2>
  <div class="sodar-pr-content-title-secondary text-muted">
    User Profile
  </div>
</div>

<div class="container-fluid sodar-page-container">

  <div class="card" id="sodar-user-details-card">
    <div class="card-header">
      <h4>
        <i class="iconify" data-icon="mdi:account-details"></i> Details
        {% if local_user %}
          <span class="sodar-header-input-group pull-right">
            <a role="button"
               class="btn btn-primary"
               id="sodar-user-update-btn"
               href="{% url 'projectroles:user_update' %}">
              <i class="iconify" data-icon="mdi:lead-pencil"></i> Update User
            </a>
          </span>
        {% endif %}
      </h4>
    </div>
    <div class="card-body">
      <dl class="row">
        {% if request.user.get_full_name != request.user.username %}
          <dt class="col-md-2">Full Name</dt>
          <dd class="col-md-10">{{ request.user.get_full_name }}</dd>
        {% endif %}
        <dt class="col-md-2">Username</dt>
        <dd class="col-md-10">{{ request.user.username }}</dd>
        {% if request.user.email %}
          <dt class="col-md-2">Email</dt>
          <dd class="col-md-10"><a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a></dd>
        {% endif %}
        <dt class="col-md-2">UUID</dt>
        <dd class="col-md-10"><code>{{ request.user.sodar_uuid }}</code></dd>
        <dt class="col-md-2">Date Joined</dt>
        <dd class="col-md-10">{{ request.user.date_joined | date:'Y-m-d H:i' }}</dd>
      </dl>
    </div>
  </div>

  <div class="card" id="sodar-user-settings-card">
    <div class="card-header">
      <h4>
        <i class="iconify" data-icon="mdi:tune"></i> Settings
        <span class="sodar-header-input-group pull-right">
        <a role="button"
           class="btn btn-primary {% if not user_settings or user_settings|length == 0 %}disabled{% endif %}"
           href="{% url 'userprofile:settings_update' %}">
          <i class="iconify" data-icon="mdi:lead-pencil"></i> Update Settings
        </a>
        </span>
      </h4>
    </div>
    <div class="card-body">
      <dl class="row">
        {% for setting in user_settings %}
          <dt class="col-md-4 font-weight-bold">
            {{ setting.label }}
          {% if setting.description %}
            {% get_info_link setting.description as info_link %}
            <span class="pull-right">{{ info_link | safe }}</span>
          {% endif %}
          </dt>
          <dd class="col-md-8">
            {% if setting.value == None or setting.value == '' %}
              <span class="text-muted">N/A</span>
            {% else %}
              {{ setting.value }}
            {% endif %}
          </dd>
        {% empty %}
          <dd class="col-12 text-center text-muted font-italic">No user settings available.</dd>
        {% endfor %}
      </dl>
    </div>
  </div>

</div>
{% endblock projectroles %}
