{% load projectroles_tags %}
{% load rules %}

<div class="btn-group omics-sidebar-alt-btn pull-left" role="group" id="omics-pr-sidebar-alt-btn">
  <button class="btn btn-dark dropdown-toggle btn-sm omics-edit-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-bars"></i>
  </button>
  <div class="dropdown-menu">

    {# Home #}
    <a class="dropdown-item{% if request.resolver_match.url_name == 'home' %} active{% endif %}"
        href="{% url 'home' %}"
        title="Home"
        id="omics-pr-alt-link-home">
      <i class="fa fa-fw fa-home"></i> Home
    </a>

    {# Project stuff #}
    {% if project %}

      {# Overview #}
      <a class="dropdown-item {% get_pr_link_state projectroles_urls request.resolver_match.url_name 'detail' %}"
          href="{% url 'projectroles:detail' project=project.omics_uuid %}"
          title="Overview"
          id="omics-pr-alt-link-overview">
        <i class="fa fa-fw fa-cube{% if project.type == PROJECT_TYPE_CATEGORY %}s{% endif %}"></i> Overview
      </a>

      {# App plugins #}
      {% if project.type != PROJECT_TYPE_CATEGORY %}
        {% for plugin in app_plugins %}
          {% has_perm plugin.app_permission request.user project as can_view_app %}
          {% if can_view_app %}
            <a class="dropdown-item {% get_app_link_state plugin request.resolver_match.app_name request.resolver_match.url_name %}"
               href="{% url plugin.entry_point_url_id project=project.omics_uuid %}"
               title="{{ plugin.title }}"
               id="omics-pr-alt-link-app-plugin-{{ plugin.name }}">
               <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
              {{ plugin.title }}
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}

      {# Role and project editing #}
      {% if project.type != PROJECT_TYPE_CATEGORY and can_view_roles %}
        <a class="dropdown-item {% get_pr_link_state projectroles_urls request.resolver_match.url_name role_urls %}"
           href="{% url 'projectroles:roles' project=project.omics_uuid %}"
           title="Members"
           id="omics-pr-alt-link-project-roles">
          <i class="fa fa-fw fa-users"></i> Members
        </a>
      {% endif %}
      {% if can_update_project %}
        <a class="dropdown-item {% get_pr_link_state projectroles_urls request.resolver_match.url_name 'update' %}"
           href="{% url 'projectroles:update' project=project.omics_uuid %}"
           title="Update Project"
           id="omics-pr-alt-link-project-update">
          <i class="fa fa-fw fa-pencil"></i> Update {% get_project_type_str project %}
        </a>
     {% endif %}

   {% endif %}

    {# Project and Category Creation #}

    {% if project and project.type == 'CATEGORY' %}
      {% has_perm 'projectroles.create_project' request.user project as can_create_project %}
      {% if can_create_project %}
         <a class="dropdown-item"
            href="{% url 'projectroles:create' project=project.omics_uuid %}"
            id="omics-pr-alt-link-project-create">
           <i class="fa fa-fw fa-plus"></i> Create Project or Category
         </a>
      {% endif %}
    {% elif request.resolver_match.url_name == 'home' or request.resolver_match.url_name == 'create' and not project %}
      {% has_perm 'projectroles.create_project' request.user as can_create_project %}
      {% if can_create_project %}
        <a class="dropdown-item"
           href="{% url 'projectroles:create' %}"
           id="omics-pr-alt-link-home-create">
          <i class="fa fa-fw fa-plus"></i> Create Category
        </a>
      {% endif %}
    {% endif %}

 </div>
</div>
