{% load rules %}
{% load projectroles_tags %}

{% has_perm 'projectroles.view_project' request.user p as can_view_project %}

{% has_star p request.user as is_starred %}

<tr class="omics-pr-project-list-item omics-pr-home-display-default {% if not is_starred %}omics-pr-home-unstarred{% endif %}"
    id="omics-pr-project-list-item-{{ p.omics_uuid }}">
  <td>
    <div class="omics-overflow-container">
      {% get_project_list_indent p list_parent as project_indent %}
      <span style="padding-left: {{ project_indent }}px;"></span>
      {% if p.type == 'CATEGORY' %}
        <i class="fa fa-fw fa-cubes"></i>
      {% else %}
        <i class="fa fa-fw fa-cube"></i>
      {% endif %}
      {% if p.type == 'CATEGORY' %}
        <u>
      {% endif %}
      {% if can_view_project %}
        <a href="{% url 'projectroles:detail' project=p.omics_uuid %}">{{ p.title }}</a>
        {% get_star p request.user as project_star %}
        {{ project_star|safe }}
      {% else %}
        <span class="text-muted">{{ p.title }}</span>
      {% endif %}
      {% if p.type == 'CATEGORY' %}
        </u>
      {% endif %}
    </div>
  </td>
  <td>
    {{ p.description }}
  </td>
  <td>
    {% autoescape off %}
      {% get_user_role_str p request.user %}
    {% endautoescape %}
  </td>
</tr>
