{# Project list item #}
{# Expects to have custom_cols and list_parent set #}
{% load rules %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

{% has_perm 'projectroles.view_project' request.user p as can_view_project %}
{% has_star p request.user as is_starred %}
{% get_project_list_indent p list_parent as project_indent %}
{% get_star p request.user as project_star %}

<tr class="sodar-pr-project-list-item"
    id="sodar-pr-project-list-item-{{ p.sodar_uuid }}"
    data-title="{{ p.title }}"
    data-full-title="{{ p.get_full_title }}"
    data-starred="{% if is_starred %}1{% else %}0{% endif %}">
  <td>
    <div class="sodar-overflow-container">
      <span class="sodar-pr-project-indent"
            style="padding-left: {{ project_indent }}px;"></span>
      <i class="fa fa-fw {% if p.type == 'CATEGORY' %}fa-cubes{% else %}fa-cube{% endif %}"></i>
      <span class="sodar-pr-project-title
                   {% if p.type == 'CATEGORY' %}text-underline{% endif %}
                   {% if not can_view_project %}text-muted{% endif %}">
        {% if can_view_project %}
          <a class="sodar-pr-project-link" href="{% url 'projectroles:detail' project=p.sodar_uuid %}">{{ p.title }}</a>
        {% else %}
          {{ p.title }}
        {% endif %}
        {{ project_star|safe }}
      </span>
    </div>
  </td>
  {% for col in project_custom_cols %}
    {% if col.active %}
      {% if p.type == 'PROJECT' %}
        <td class="sodar-pr-project-list-custom text-{{ col.align }}"
            {% if col.width %} style="width: {{ col.width }}px !important"{% endif %}>
          {% get_project_column_value col p as col_val %}
          {{ col_val | safe }}
        </td>
      {% else %}
        <td></td>
      {% endif %}
    {% endif %}
  {% endfor %}
  <td>
    {% autoescape off %}
      {% get_user_role_html p request.user %}
    {% endautoescape %}
  </td>
</tr>
