{% load rules %}
{% load projectroles_tags %}

{% has_perm 'projectroles.view_project' request.user project as can_view_project %}
{% has_perm 'projectroles.view_project_roles' request.user project as can_view_roles %}
{% has_perm 'projectroles.update_project' request.user project as can_update_project %}

{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

<div class="row omics-pr-content-title">

  {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
  {% include 'projectroles/_project_menu_btn.html' %}

  <h2 class="omics-pr-content-title">{{ project.title }}</h2>
  {# Project starring/unstarring #}
  <div>
    <a role="link" class="btn btn-link omics-pr-btn-star"
       href="#" id="omics-pr-link-project-star"
       star-url="{% url 'projectroles:star' project=project.omics_uuid %}"
       csrf-token="{{ csrf_token }}"
       title="{% if project_starred %}Unstar{% else %}Star{% endif %}"
       data-toggle="tooltip" data-placement="top">
      {% if project_starred %}
        <i class="fa fa-star fa-2x text-warning" id="omics-pr-btn-star-icon"></i>
      {% else %}
        <i class="fa fa-star-o fa-2x text-muted" id="omics-pr-btn-star-icon"></i>
      {% endif %}
    </a>
  </div>
  {# Secondary title #}
  <div class="omics-pr-content-title-secondary text-muted">
    {{ project.description }}
  </div>

</div>
