{% load rules %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

<tr class="omics-pr-project-list-item" id="omics-pr-project-search-item-{{ p.omics_uuid }}">
  <td>
    <div class="omics-overflow-container">
      <a href="{% url 'projectroles:detail' project=p.omics_uuid %}">
        {% get_project_title_html p as project_title %}
        {% autoescape off %}
          {% highlight_search_term project_title search_term %}
          {% get_star p request.user %}
        {% endautoescape %}
      </a>
    </div>
  </td>
  <td>
    <div class="omics-overflow-container">
      {% autoescape off %}
        {% highlight_search_term p.description search_term %}
      {% endautoescape %}
    </div>
  </td>
</tr>
