<div class="btn-group sodar-list-btn-group sodar-pr-btn-grp-invite" id="sodar-pr-btn-grp-invite-{{ invite_uuid }}">
  <button class="btn btn-secondary dropdown-toggle sodar-list-dropdown"
      type="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'projectroles:invite_resend' projectinvite=invite_uuid %}">
      <i class="fa fa-fw fa-send"></i> Resend Invite
      </a>
    <a class="dropdown-item" href="{% url 'projectroles:invite_revoke' projectinvite=invite_uuid %}">
      <i class="fa fa-fw fa-close"></i> Revoke Invite
    </a>
  </div>
</div>
