<tr>
  <td>
    <a href="{% url 'projectroles:remote_projects' remotesite=site.sodar_uuid %}">
      {{ site.name }}
    </a>
    {% if site.description %}
      <a class="omics-pr-site-desc-link" tabindex="0" data-toggle="popover"
         data-trigger="focus" data-placement="top" data-html="true"
         data-content="{{ site.description }}">
        <i class="fa fa-info-circle text-info"></i>
      </a>
    {% endif %}
  </td>
  <td><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></td>
  <td class="text-right">{{ site.projects.all.count }}</td>
  <td class="text-nowrap"><code>{{ site.secret }}</code></td>
  <td class="text-nowrap">
    {% if site.get_access_date %}
      {{ site.get_access_date|date:'Y-m-d H:i' }}
    {% else %}
      <span class="text-muted">Never</span>
    {% endif %}
  </td>
  <td>
    {% include 'projectroles/_remote_site_buttons.html' %}
  </td>
</tr>
