{% load projectroles_common_tags %}

<tr>
  <td>
    <a href="{% url 'projectroles:remote_projects' remotesite=site.sodar_uuid %}">
      {{ site.name }}
    </a>
    {% if site.description %}
      {% get_info_link site.description as info_link %}
      {{ info_link | safe }}
    {% endif %}
  </td>
  <td><a href="{{ site.get_url }}" target="_blank">{{ site.get_url }}</a></td>
  <td class="text-right">{{ site.projects.all.count }}</td>
  <td class="text-nowrap"><code>{{ site.secret }}</code></td>
  <td class="text-nowrap">
    {% if site.get_access_date %}
      {{ site.get_access_date|date:'Y-m-d H:i' }}
    {% else %}
      <span class="text-muted">Never</span>
    {% endif %}
  </td>
  <td>
    {% include 'projectroles/_remote_site_buttons.html' %}
  </td>
</tr>
