{% if up %}
  <div class="row">
  <div class="btn-group dropup ml-auto" id="omics-pr-btn-role-list-up">
{% else %}
  <div class="btn-group ml-auto" id="omics-pr-btn-role-list">
{% endif %}
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Member Operations
  </button>
  <div class="dropdown-menu dropdown-menu-right">

    {# Add Role #}
    {% if can_update_members %}
      <a class="dropdown-item" href="{% url 'projectroles:role_create' project=project.omics_uuid %}"
         title="Add Member"
         id="omics-pr-btn-role-list-create">
        <i class="fa fa-fw fa-user-plus"></i> Add Member
      </a>
    {% endif %}

    {# Send Invite #}
    {% if can_invite %}
      <a class="dropdown-item" href="{% url 'projectroles:invite_create' project=project.omics_uuid %}"
         title="Send Invite"
         id="omics-pr-btn-role-list-invite">
        <i class="fa fa-fw fa-send"></i> Send Invite
      </a>
    {% endif %}

    {# View Roles #}
    {% if can_update_members and request.resolver_match.url_name != 'project_roles' %}
      <a class="dropdown-item" href="{% url 'projectroles:roles' project=project.omics_uuid %}"
         title="View Members"
         id="omics-pr-btn-role-list-roles">
        <i class="fa fa-fw fa-users"></i> View Members
      </a>
    {% endif %}

    {# View Invites #}
    {% if can_invite and request.resolver_match.url_name != 'role_invites' %}
      <a class="dropdown-item" href="{% url 'projectroles:invites' project=project.omics_uuid %}"
         title="View Invites"
         id="omics-pr-btn-role-list-invites">
        <i class="fa fa-fw fa-envelope"></i> View Invites
      </a>
    {% endif %}

    {# Import Roles #}
    {# TODO: Disabled until issue #152 is done #}
    {% if can_import %}
      <a class="dropdown-item disabled"
         href="#"
         {% comment %}
         href="{% url 'projectroles:role_import' project=project.omics_uuid %}"
         {% endcomment %}
         title="Import Members"
         id="omics-pr-btn-role-list-import">
        <i class="fa fa-fw fa-copy"></i> Import Members
      </a>
    {% endif %}

  </div>
</div>
{% if up %}
  </div>
{% endif %}
