<div class="sodar-navbar-search">
  <form class="form-inline" method="get" action="{% url 'projectroles:search' %}">
    <div class="input-group sodar-input-group">
      <input class="form-control" type="text"
             placeholder="Search term" name="s" aria-label="Search term"
             id="sodar-nav-search-input" value="{{ search_input }}">
      <div class="input-group-append">
        <button class="btn btn-success" type="submit" id="sodar-nav-search-submit" disabled>Search</button>
      </div>
    </div>
  </form>
</div>
