<div class="card omics-card omics-search-card">
  <div class="card-header">
    <h4>
      <i class="fa fa-{% if icon %}{{ icon }}{% else %}{{ plugin.icon }}{% endif %}"></i>
      {{ search_title }}
      {% if result_count %}
       ({{ result_count }})
      {% endif %}
      <div class="input-group omics-header-input-group omics-header-input-group-search pull-right" table-id="">
        <input class="form-control omics-search-filter"
           type="text" placeholder="Filter" aria-label="Filter {{ search_title }}" />
      </div>
    </h4>
  </div>
  {% if result_count >= result_limit %}
    <div class="card-body omics-card-body omics-card-body-info">
      <i class="fa fa-warning"></i> Some results may be omitted, please narrow down your search
    </div>
  {% endif %}
  <div class="card-body omics-search-card-body">
