{% extends 'base.html' %}
{% load static %}
{% load rules %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

{% block content %}

  {# Sidebar #}
  <div class="sodar-content-left">

    <div class="col h-100 bg-dark text-center sodar-pr-sidebar" id="sodar-pr-sidebar">
      <nav class="nav navbar-expand-lg navbar-dark bg-dark sodar-pr-sidebar-nav">
        <div class="collapse navbar-collapse" id="sodar-pr-sidebar-navbar">
          <ul class="navbar-nav flex-column sodar-pr-sidebar-nav-ul">
            <li id="sodar-pr-nav-home" class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
              <a class="nav-link"
                 href="{% url 'home' %}"
                 id="sodar-pr-nav-home-link">
                <i class="fa fa-home"></i><br />Home
              </a>
            </li>
            {% block sidebar %} {# Actual sidebar content #}
              {% include 'projectroles/_project_sidebar.html' %}
            {% endblock sidebar %}
          </ul>
        </div>
      </nav>
    </div>

  </div> <!-- /sodar-content-left -->

  <div class="sodar-content-right">

    {# Project breadcrumb #}
    {% if project %}
      <div class="sodar-sub-navbar-container">
        <div class="row bg-secondary sodar-pr-navbar" id="sodar-pr-navbar">
          <ol id="sodar-pr-breadcrumb" class="breadcrumb sodar-pr-breadcrumb">
            <li><i class="fa fa-angle-right"></i></li>
            {% if project.get_parents %}
              {% for p in project.get_parents %}
                <li class="breadcrumb-item"><a href="{% url 'projectroles:detail' project=p.omics_uuid %}">{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            {% if project %}
              {% if request.resolver_match.url_name == 'project_detail' %}
                <li class="breadcrumb-item active">{{ project.title }}</li>
              {% else %}
                <li class="breadcrumb-item"><a href="{% url 'projectroles:detail' project=project.omics_uuid %}">{{ project.title }}</a></li>
              {% endif %}
            {% endif %}
          </ol>
        </div>
      </div>
    {% endif %}

    <div class="sodar-app-container">

      {# Django messages / site app messages #}
      {% get_site_app_messages as site_app_messages %}

      {% if messages or site_app_messages %}
        <div class="container-fluid sodar-alert-container">

        {# Site app messages #}
        {% for message in site_app_messages %}
          <div class="alert alert-{{ message.color }} sodar-alert-top sodar-alert-site-app">
            <div class="sodar-alert-top-content">
              {% if message.dismissable %}
                <a href="#" class="pull-right sodar-alert-close-link"><i class="fa fa-close text-muted"></i></a>
              {% endif %}
              {{ message.content | safe }}
            </div>
          </div>
        {% endfor %}
         {# Regular Django messages #}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} sodar-alert-top">
            <div class="sodar-alert-top-content">
              {{ message }}
              <a href="#" class="pull-right sodar-alert-close-link"><i class="fa fa-close text-muted"></i></a>
            </div>
          </div>
        {% endfor %}

         </div>
      {% endif %}

      {# Actual content #}
      <div class="sodar-app-content" id="sodar-app-content">
        {% block projectroles %}
          Projectroles app content here
        {% endblock projectroles %}
      </div>

      {# Footer #}
      {% template_exists 'include/_footer.html' as footer_exists %}
      {% if footer_exists %}
        <footer class="sodar-footer">
          {% include 'include/_footer.html' %}
        </footer>
      {% endif %}

     </div> <!-- /sodar-app-container -->

  </div>  <!-- /sodar-content-right -->

{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <!-- Projectroles Javascript -->
  <script type="text/javascript" src="{% static 'projectroles/js/projectroles.js' %}"></script>

  {# Add javascript from enabled backend plugins #}
  {% get_backend_plugins as backend_plugins %}
  {% for plugin in backend_plugins %}
    {% if plugin.javascript_url %}
      <!-- {{ plugin.title }} backend plugin Javascript -->
      <script type="text/javascript" src="{{ plugin.javascript_url }}"></script>
    {% endif %}
  {% endfor %}

  <script type="text/javascript">
      tour.addStep('tour_intro', {
          title: 'Welcome to the Tour Help!',
          text: 'The tour help describes key elements on the currently ' +
                'opened page and aids you in using available features. ' +
                'Advance on the tour by clicking "Next".',
          advanceOn: '.docs-link click',
          showCancelLink: true
      });
  </script>

{% endblock javascript %}
