{% extends 'base.html' %}
{% load rules %}
{% load projectroles_tags %}

{# Sidebar #}
{% block sidebar %}
  {% include 'projectroles/_project_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

  {# Project breadcrumb #}
  {% if project %}
    <div class="omics-sub-navbar-container">
      <div class="row bg-secondary omics-pr-navbar" id="omics-pr-navbar">
        <ol id="omics-pr-breadcrumb" class="breadcrumb omics-pr-breadcrumb">
          <li><i class="fa fa-angle-right"></i></li>
          {% if project.get_parents %}
            {% for p in project.get_parents %}
              <li class="breadcrumb-item"><a href="{% url 'projectroles:detail' project=p.omics_uuid %}">{{ p.title }}</a></li>
            {% endfor %}
          {% endif %}
          {% if project %}
            {% if request.resolver_match.url_name == 'project_detail' %}
              <li class="breadcrumb-item active">{{ project.title }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url 'projectroles:detail' project=project.omics_uuid %}">{{ project.title }}</a></li>
            {% endif %}
          {% endif %}
        </ol>
      </div>
    </div>
  {% endif %}

  <div class="omics-app-container">

    {# Django messages / site app messages #}
      {% get_site_app_messages as site_app_messages %}

      {% if messages or site_app_messages %}
        <div class="container-fluid omics-alert-container">

        {# Site app messages #}
        {% for message in site_app_messages %}
          <div class="alert alert-{{ message.color }} omics-alert-top omics-alert-site-app">
            <div class="omics-alert-top-content">
              {% if message.dismissable %}
                <a href="#" class="pull-right omics-alert-close-link"><i class="fa fa-close text-muted"></i></a>
              {% endif %}
              {{ message.content | safe }}
            </div>
          </div>
        {% endfor %}

        {# Regular Django messages #}
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} omics-alert-top">
            <div class="omics-alert-top-content">
              {{ message }}
              <a href="#" class="pull-right omics-alert-close-link"><i class="fa fa-close text-muted"></i></a>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endif %}

      {# Actual content #}
      <div class="omics-app-content" id="omics-app-content">
        {% block projectroles %}
          Projectroles app content here
        {% endblock projectroles %}
      </div>
      <footer class="omics-footer">
        <div class="text-sm-center">Developed by BIH CUBI. For support and feedback, please contact <a href="mailto:mikko.nieminen@bihealth.de">Mikko Nieminen</a>. v{% site_version %}</div>
      </footer>
    </div>

  </div>

{% endblock content %}

{% block javascript %}
  {{ block.super }}

  {# Add javascript from enabled backend plugins #}
  {% get_backend_plugins as backend_plugins %}
  {% for plugin in backend_plugins %}
    {% if plugin.javascript_url %}
      <!-- {{ plugin.title }} backend plugin Javascript -->
      <script type="text/javascript" src="{{ plugin.javascript_url }}"></script>
    {% endif %}
  {% endfor %}

{% endblock javascript %}
