{% extends 'projectroles/base.html' %}
{% load projectroles_tags %}
{% load rules %}

{% block title %}Home{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.create_project' request.user as can_create_project %}


<div class="row omics-pr-content-title">
  {% if can_create_project %}
    {# Project menu dropdown, only visible if browser width < X and sidebar is hidden #}
    {% include 'projectroles/_project_menu_btn.html' %}
  {% endif %}
  <h2 class="omics-pr-content-title">Home</h2>
</div>


<div class="container-fluid omics-page-container">

  {# Project List #}

  <div class="card" id="omics-pr-project-list">
    <div class="card-header">
      <h4><i class="fa fa-globe"></i> Available Projects
        <div class="input-group omics-header-input-group pull-right">
          <div class="input-group-prepend">
            <button class="btn btn-secondary"
                    type="submit" id="omics-pr-project-list-link-star"
                    filter-mode="0"><i class="fa fa-star-o"></i> Starred</button>
          </div>
          <input class="form-control"
                 type="text" placeholder="Filter" aria-label="Filter projects"
                 id="omics-pr-project-list-filter">
        </div>
      </h4>
    </div>
    <div class="card-body omics-card-body-table">
     <table class="table table-hover omics-card-table omics-card-table-borderless omics-pr-project-list-table" id="omics-pr-project-list-table">
       <thead>
         {% include 'projectroles/_project_list_header.html' %}
       </thead>
       <tbody>
         {% get_project_list user=request.user parent=None as project_list %}
         {% if project_list|length > 0 %}
           {% for p in project_list %}
             {# Actual project list #}
             {% include 'projectroles/_project_list_item.html' with list_parent=None %}
             {# List for Javascript filtering #}
             {% include 'projectroles/_project_filter_item.html' %}
           {% endfor %}
           {# Not found message for filtering #}
           <tr class="omics-pr-home-display-notfound">
             <td class="bg-faded font-italic text-center text-danger" colspan="3">No projects found matching current filter</td>
           </tr>
           <tr class="omics-pr-home-display-nostars">
             <td class="bg-faded font-italic text-center text-danger" colspan="3">No starred projects found</td>
           </tr>
        {% else %}
           <tr>
             <td class="bg-faded font-italic text-center text-danger" colspan="3">No projects available: access must be granted by project personnel or a superuser</td>
           </tr>
        {% endif %}
       </tbody>
     </table>
    </div>
  </div>
</div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('home_project', {
        title: 'Available Projects',
        text: 'Projects available to you are listed in this table.',
        attachTo: '#omics-pr-project-list top',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('home_filter', {
        title: 'Filter Project List',
        text: 'Type here to filter the project list according to a search term.',
        attachTo: '#omics-pr-project-list-filter left',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('home_star', {
        title: 'View Starred Projects',
        text: 'Click here to enable/disable viewing only projects you have ' +
              '"starred" for your favourites in the project page. ',
        attachTo: '#omics-pr-project-list-link-star bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    if ($('#omics-pr-home-link-create').length) {
        tour.addStep('home_create', {
            title: 'Create Project',
            text: 'Click here to create a new project or category.',
            attachTo: '#omics-pr-home-link-create left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }
  </script>
{% endblock javascript %}
