{% extends 'base.html' %}
{% load static %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

{% get_setting 'SITE_INSTANCE_TITLE' as site_title %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-fluid">

  {# Display error if login was unsuccessful. #}
  {% if request.POST %}
  <div class="alert alert-danger sodar-alert-top">
     Login failed. Please make sure the user name, domain and password are correct.
     <a href="#" class="pull-right sodar-alert-close-link"><i class="fa fa-close text-muted"></i></a>
  </div>
  {% endif %}

  <div class="col-md-4 mx-auto my-5">
    <h2 class="sodar-pr-content-title">Log In</h2>

    {% autoescape off %}
      {% get_login_info %}
    {% endautoescape %}

    <form class="form-signin" method="post" id="sodar-form-login">
      {% csrf_token %}
      <input type="text" name="username" id="sodar-signin-username" class="form-control" placeholder="username@DOMAIN" required autofocus>
      <input type="password" name="password" id="sodar-signin-password" class="form-control my-sm-2 mb-sm-2" placeholder="Password" required>
      <button class="btn btn-md btn-primary btn-block" type="submit" id="sodar-signin-submit"><i class="fa fa-sign-in"></i> Log In</button>
    </form>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}

  <!-- Projectroles Javascript -->
  <script type="text/javascript" src="{% static 'projectroles/js/projectroles.js' %}"></script>

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('login_username1', {
        title: 'Log in to {{ site_title }}',
        text: 'To use {{ site_title }}, you must log in. For ' +
              'this, you need to use an existing account.',
        attachTo: '#sodar-signin-username bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('login_username2', {
        title: 'User Name and Domain',
        text: 'The user name must be supplied in the format ' +
              '"username@DOMAIN" depending on the account used.',
        attachTo: '#sodar-signin-username bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('login_username2', {
        title: 'Note on Multiple Accounts',
        text: 'IMPORTANT: if you have user accounts for multiple supported ' +
              'domains, note that these user accounts will not be ' +
              'connected. Please choose one of your accounts and always ' +
              'use the same one to log in to {{ site_title }}. Also note ' +
              'that you will receive email notifications to the address ' +
              'specified for the account used.',
        attachTo: '#sodar-signin-username bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });
  </script>
{% endblock javascript %}
