{% extends 'projectroles/base.html' %}

{% load rules %}
{% load static %}
{% load crispy_forms_filters %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

{% block title %}
  {% get_django_setting 'PROJECTROLES_DISABLE_CATEGORIES' as disable_categories %}
  {% get_display_name 'PROJECT' title=True as project_display %}
  {% get_display_name 'CATEGORY' title=True as category_display %}

  {% if object.pk %}
    Update {% get_display_name object.type title=True %} {{ object.title }}
  {% elif parent.pk %}
    Create {{ project_display }} or {{ category_display }} Under {{ parent.title }}
  {% elif disable_categories %}
    Create {{ project_display }}
  {% else %}
    Create Top Level {{ category_display }}
  {% endif %}
{% endblock title %}

{% block head_extend %}
  {{ form.media }}
{% endblock head_extend %}

{% block projectroles %}
  {% get_django_setting 'PROJECTROLES_DISABLE_CATEGORIES' as disable_categories %}
  {% get_display_name 'PROJECT' title=True as project_display %}
  {% get_display_name 'CATEGORY' title=True as category_display %}

  {% if object.pk %}
    {% include 'projectroles/_project_header.html' %}
  {% endif %}

  <div class="row sodar-subtitle-container">
    {% if object.pk %}
      <h3>Update {% get_display_name object.type title=True %}</h3>
    {% elif parent.pk %}
      <h2>Create {{ project_display }} or {{ category_display }} Under {{ parent.title }}</h2>
    {% elif disable_categories %}
      <h2>Create {{ project_display }}</h2>
    {% else %}
      <h2>Create Top Level {{ category_display }}</h2>
    {% endif %}
  </div>

  <div class="container-fluid sodar-page-container">
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
      <div class="row">
        <div class="btn-group ml-auto" role="group">
          <a role="button" class="btn btn-secondary"
             href="{{ request.session.real_referer }}">
            <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            <i class="iconify" data-icon="mdi:check-bold"></i>
            {% if object.pk %}
              Update
            {% else %}
              Create
            {% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}
  <!-- Project starring -->
  <script type="text/javascript" src="{% static 'projectroles/js/project_star.js' %}"></script>
{% endblock javascript %}
