{% extends 'projectroles/base.html' %}
{% load rules %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

{% block title %}Project {{ object.title }}{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.view_project' request.user object as can_view_project %}
{% has_perm 'projectroles.update_project' request.user object as can_update_project %}
{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

{% if can_view_project %}
  {% include 'projectroles/_project_header.html' %}

  <div class="container-fluid omics-page-container">

    {# README #}

    <div class="card omics-card" id="omics-pr-details-card-readme">
      <div class="card-header">
        <h4><i class="fa fa-book"></i> ReadMe</h4>
      </div>
      <div class="card-body omics-card-body">
        {% if object.readme.rendered|length > 0 %}
          {% autoescape off %}
            {% render_markdown object.readme.raw %}
          {% endautoescape %}
        {% else %}
          <p>
          No ReadMe is currently set for this {{ object.type|lower }}.
          {% if can_update_project %}
           <a href="{% url 'projectroles:update' project=project.omics_uuid %}#div_id_readme">You can update the ReadMe here</a>.
          {% endif %}
          </p>
        {% endif %}
      </div>
    </div>

    {# App Plugin Cards #}

    {% if object.type != PROJECT_TYPE_CATEGORY %}
      {% for plugin in app_plugins %}
        {% has_perm plugin.app_permission request.user object as can_view_app %}
        {% if can_view_app %}
          <div class="card omics-card omics-pr-app-card" id="omics-pr-app-item-{{ plugin.name }}">
            <div class="card-header">
              <h4>
                <i class="fa fa-{{ plugin.icon }}"></i>
                {% if plugin.details_title %}
                  {{ plugin.details_title }}
                {% else %}
                  {{ plugin.title }}
                {% endif %}
              </h4>
            </div>
            <div class="card-body omics-card-body omics-card-body-info">
                <i class="fa fa-info-circle"></i> {{ plugin.description }}
            </div>
            {% if plugin.details_template %}
              <div class="card-body omics-card-body-table">
                {% include plugin.details_template %}
              </div>
            {% else %}
              <div class="card-body omics-card-body text-center">
                <p class="text-danger"><em>No app card template found</em></p>
              </div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {# Subprojects #}

    {% get_project_list user=request.user parent=object as subproject_list %}
    {% if subproject_list|length > 0 or object.type == 'CATEGORY' %}
      <div class="card omics-card">
        <div class="card-header">
          <h4><i class="fa fa-globe"></i> Subprojects</h4>
        </div>
        <div class="card-body omics-card-body-table">
          <table class="table table-hover omics-card-table omics-card-table-borderless omics-pr-project-list-table" id="omics-pr-project-list-table">
           <thead>
             {% include 'projectroles/_project_list_header.html' %}
           </thead>
           <tbody>
             {% get_project_list user=request.user parent=object as subproject_list %}
             {% if subproject_list|length > 0 %}
               {% for p in subproject_list %}
                 {% include 'projectroles/_project_list_item.html' with list_parent=object %}
               {% endfor %}
             {% else %}
               <tr>
                 <td class="bg-faded font-italic text-center text-danger" colspan="3">No subcategories or projects found</td>
               </tr>
             {% endif %}
           </tbody>
         </table>
        </div>
      </div>
    {% endif %}

  </div>

{% else %}
  <div class="alert alert-danger" role="alert">
    Insufficient permissions for viewing project!
  </div>
{% endif %}

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('project_nav', {
        title: 'Project Sidebar',
        text: 'From this sidebar you can access apps and actions of the ' +
              'currently selected project.',
        attachTo: '#omics-pr-sidebar right',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    if ($('.omics-pr-app-card').length) {
        tour.addStep('project_app_cards', {
            title: 'Project App Overviews',
            text: 'Overviews of project apps and data are presented here.',
            attachTo: '.omics-pr-app-card top',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    if ($('.omics-pr-app-details-link').length) {
        tour.addStep('project_app_details', {
            title: 'View Details of Project App',
            text: 'In addition to the sidebar, project apps can also ' +
                  'be accessed using the "View Details" buttons.',
            attachTo: '.omics-pr-app-details-link left',
            advanceOn: '.docs-link click',
            showCancelLink: true
        });
    }

    tour.addStep('project_star', {
        title: 'Star a Project',
        text: 'Using this link you can "star" a project to add it in your ' +
              'favourites. Starred projects are highlighted and can be ' +
              'listed on the home page with a shortcut. To "unstar" a ' +
              'project, click on the same link again.',
        attachTo: '#omics-pr-link-project-star bottom',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

  </script>
{% endblock javascript %}

