{% extends 'projectroles/base.html' %}
{% load rules %}
{% load projectroles_tags %}

{% block title %}Project "{{ project.title }}"{% endblock title %}

{% block projectroles %}

{% has_perm 'projectroles.view_project' request.user project as can_view_project %}

{% omics_constant 'PROJECT_TYPE_CATEGORY' as PROJECT_TYPE_CATEGORY %}

{% if can_view_project %}
  {% include 'projectroles/_project_header.html' %}

  {% block projectroles_extend %}
    {# Content from an app extending projectroles will go here #}
  {% endblock projectroles_extend %}

{% else %}
  <div class="alert alert-danger" role="alert">
    Insufficient permissions for viewing project!
  </div>
{% endif %}

{% endblock projectroles %}
