{% extends 'projectroles/project_base.html' %}

{% load crispy_forms_filters %}
{% load projectroles_tags %}
{% load static %}

{% block title %}
  {% if object.pk %}
    Update Member {{ object.user.username }} in {{ object.project.title }}
  {% else %}
    Add Member in {{ project.title }}
  {% endif %}
{% endblock title %}

{% block projectroles_extend %}

<div class="row sodar-subtitle-container bg-white sticky-top">
  {% if object.pk %}
    <h3>Update Member {{ object.user.username }}</h3>
  {% else %}
    <h3>Add Member</h3>
  {% endif %}
</div>

<div class="container-fluid sodar-page-container">
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
            href="{{ request.session.real_referer }}">
          <i class="iconify" data-icon="mdi:arrow-left-circle"></i> Cancel
        </a>
        <a role="button" class="btn btn-primary text-light"
           id="sodar-pr-email-preview-link"
           data-toggle="modal" data-target="#sodar-modal">
          <i class="iconify" data-icon="mdi:eye"></i> Preview
        </a>
        <button type="submit" class="btn btn-primary">
          {% if object.pk %}
            <i class="iconify" data-icon="mdi:check-bold"></i> Update
          {% else %}
            <i class="iconify" data-icon="mdi:account-plus"></i> Add
          {% endif %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
      $(document).ready(function() {
          $('#sodar-pr-email-preview-link').click(function () {
              $('.modal-title').text('Email Preview');

              var body = '{{ preview_body }}';
              var userName = $('#id_user').find('option:selected').text();
              var userDisplayName = userName.substr(0, userName.indexOf('(') - 1);
              var roleName = $('#id_role').find('option:selected').text();
              body = body.replace('{role_name}', roleName);
              body = body.replace('{user_name}', userDisplayName);

              var htmlData = '<strong>Subject:</strong><pre>{{ preview_subject }}</pre>';
              htmlData += '<strong>Body:</strong>';
              htmlData += '<pre id="sodar-email-body">' + body;
              htmlData += '</pre>';

              $('.modal-body').html(htmlData);
          });
      });

  </script>

  <!-- DAL for autocomplete widgets -->
  <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
  <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
  <script type="text/javascript" src="{% static 'projectroles/js/autocomplete_redirect.js' %}"></script>
{% endblock javascript %}

{% block css %}
  {{ block.super }}
  <!-- Select2 theme -->
  <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
{% endblock css %}
