{% extends 'projectroles/project_base.html' %}
{% load crispy_forms_filters %}
{% load projectroles_tags %}

{% block title %}
  Import Members into {{ project.title }}
{% endblock title %}

{% block projectroles_extend %}

<div class="row omics-subtitle-container bg-white sticky-top">
  <h3>
    Import Members
    {% if source_project %}
      from {{ source_project.title }}
    {% endif %}
  </h3>
</div>

<div class="container-fluid omics-page-container">
  <form method="post">
    {% csrf_token %}

    {% if not source_project and not owned_projects %}
      <div class="alert alert-danger" role="alert">
        <strong>Error:</strong> You do not own any other projects from which to
        import members!
      </div>

    {% elif not source_project %}
      {# Project selection #}
      <div class="form-group">
        <label for="omics-pr-role-import-mode">Import mode</label>
        <select class="form-control"
                id="omics-pr-role-import-mode" name="import-mode">
          <option value="append">Append</option>
          <option value="replace">Replace</option>
        </select>
      </div>
      <div class="form-group">
        <label for="omics-pr-role-import-project">Source project</label>
        <select class="form-control"
                id="omics-pr-role-import-project" name="source-project">
          {% for p in owned_projects %}
            <option value="{{ p.omics_uuid }}">{{ p.get_full_title }}</option>
          {% endfor %}
        </select>
      </div>

    {% elif import_assignments or del_assignments %}
      {# Confirmation of roles to be imported #}
      {% if import_mode == 'replace' %}
        <div class="alert alert-danger" role="alert">
          <strong>Warning:</strong> "Replace" selected, existing members
          will be removed if not found in source project!
        </div>
      {% endif %}

      <input type="hidden" name="import-mode" value="{{ import_mode }}" />
      <input type="hidden" name="import-confirmed" value="1" />
      <input type="hidden" name="source-project" value="{{ source_project.omics_uuid }}" />

      <div class="card omics-card-single" id="omics-pr-role-list">
      <div class="card-body omics-card-body-table">
        <table class="table table-striped omics-card-table" id="omics-pr-role-import-table">
          <thead>
            <tr>
              <th>User</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for a in import_assignments %}
              <tr>
                <td>{{ a.user.username }}</td>
                <td>{{ a.user.name }}</td>
                <td><a href="mailto:{{ a.user.email }}">{{ a.user.email }}</a></td>
                <td>{{ a.role.name }}</td>
                <td>{% get_role_import_action a project %}</td>
                <input type="hidden" name="import_field_{{ a.omics_uuid }}" value="1" />
              </tr>
            {% endfor %}
            {% for a in del_assignments %}
              <tr>
                <td class="text-danger">{{ a.user.username }}</td>
                <td class="text-danger">{{ a.user.name }}</td>
                <td class="text-danger"><a href="mailto:{{ a.user.email }}">{{ a.user.email }}</a></td>
                <td class="text-danger">{{ a.role.name }}</td>
                <td class="text-danger font-weight-bold">Remove</td>
                <input type="hidden" name="delete_field_{{ a.omics_uuid }}" value="1" />
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    {% elif not import_assignments %}
      <div class="alert alert-danger" role="alert">
        Did not find any members to {{ import_mode }}.
      </div>
    {% endif %}
    <div class="row">
      <div class="btn-group ml-auto">
        <a role="button" class="btn btn-secondary"
            href="{{ previous_page }}">
          <i class="fa fa-arrow-circle-left"></i> Cancel
        </a>
        {% if owned_projects or import_assignments or import_mode == 'replace' %}
          <button type="submit" class="btn btn-primary">
            {% if not source_project %}
              <i class="fa fa-check"></i> Select Project
            {% else %}
              <i class="fa fa-copy"></i> Update Members
            {% endif %}
          </button>
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock projectroles_extend %}
