{% extends 'projectroles/base.html' %}

{% load rules %}
{% load static %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}

{% block title %}
  Search Results for "{{ search_term }}"
  {% if search_type %}
    (type:{{ search_type }})
  {% endif %}
{% endblock title %}

{% block css %}
  {{ block.super }}

  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/b-1.5.4/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.18/integration/font-awesome/dataTables.fontAwesome.css" />

  <style type="text/css">
    div.sodar-search-card {
        display: none;  /* Will be enabled after DataTables init */
    }

    div.sodar-search-card-body {
        padding: 0;
        overflow-x: hidden; /* Fix possible overflow when resizing window */
    }

    table.sodar-search-table {
      display: inline-table;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      border-bottom: 0 !important;
    }

    .table.sodar-search-table thead tr th {
      padding: 12px !important;
      padding-right: 22px !important; /* Avoid covering sort icons */
      max-width: 250px !important;
    }

    .table.sodar-search-table tbody tr td {
      padding: 12px !important;
      max-width: 250px !important;
    }

    .sodar-header-input-group-search {
        max-width: 200px;
    }

    /* DataTables modifications */

    .dataTables_paginate {
      width: 100%;
      padding: 12px !important;
      text-align: right;
      border-top: 1px solid #dfdfdf !important;
    }

    th.sorting {
      padding-left: 10px !important;
      border-bottom: 0 !important;
    }

    th.sorting::after {
      padding-top: 7px !important;
    }

    .previous::before {
        display: none !important;
    }

    .next::after {
        display: none !important;
    }

    /* Responsive modifications */

    @media screen and (max-width: 1000px) {
    .sodar-header-input-group-search {
      display: none;
    }
  }

  </style>
{% endblock css %}

{% block projectroles %}

{% has_perm 'projectroles.create_project' request.user as can_create_project %}

<div class="row sodar-pr-content-title">
  <h2 class="sodar-pr-content-title">Search Results</h2>
    <div class="sodar-pr-content-title-secondary text-muted">
      for "{{ search_term }}"
      {% if search_type %}
        (type:{{ search_type }})
      {% endif %}
    </div>
</div>

<div class="container-fluid sodar-page-container">
  {% if search_type and search_type != 'project' and app_search_data|length == 0 %}
    <div class="alert alert-danger" role="alert">
      <strong>Error:</strong> Search type "{{ search_type }}" not recognized!
    </div>

  {% else %}
    {# Project Search #}

    {% if not search_type or search_type == 'project' %}

      {% if project_results|length > 0 %}
        {% get_display_name 'PROJECT' title=True plural=True as projects_title %}
        {% include 'projectroles/_search_header.html' with search_title=projects_title result_count=project_results|length icon='cube' %}

        <table class="table table-striped sodar-card-table sodar-search-table" id="sodar-pr-search-table">
          <thead>
            <tr>
              <th>{% get_display_name 'PROJECT' title=True %}</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for p in project_results %}
              {% include 'projectroles/_project_search_item.html' %}
            {% endfor %}
          </tbody>
        </table>

        {% include 'projectroles/_search_footer.html' %}

      {% endif %}

    {% endif %}

    {# App Search #}
    {% for app in app_search_data %}
      {% if app.plugin.search_template %}
        {% include app.plugin.search_template with plugin=app.plugin search_results=app.results %}
      {% endif %}
    {% endfor %}

  {% endif %}

  {% autoescape off %}
    {% get_not_found_alert project_results app_search_data search_type %}
  {% endautoescape %}

</div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  <!-- Settings for Javascript -->
  <script type="text/javascript">
    {% get_django_setting 'PROJECTROLES_SEARCH_PAGINATION' as search_pagination %}

    {% if search_pagination %}
      window.searchPagination = {{ search_pagination }};
    {% else %}
      window.searchPagination = 5;
    {% endif %}
    window.refreshCellOverflow = true;
  </script>

  <!-- DataTables -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/b-1.5.4/datatables.min.js"></script>

  <!-- Project search JQuery -->
  <script type="text/javascript" src="{% static 'projectroles/js/search.js' %}"></script>

  {# Tour content #}
  <script type="text/javascript">

    tourEnabled = true;

    $(document).ready(function() {
        if ($('.sodar-search-card').length) {
            tour.addStep('search_card', {
                title: 'Matching Items',
                text: 'Matching {% get_display_name "PROJECT" plural=True %} ' +
                      'and items are listed in cards separated by data type.',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }

        if ($('.sodar-search-highlight').length) {
            tour.addStep('search_highlight', {
                title: 'Search Highlight',
                text: 'Search terms are highlighted for each matching object.',
                attachTo: '.sodar-search-highlight right',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }

        if ($('.sodar-paginate-button').length) {
            tour.addStep('search_paginate', {
                title: 'Search Pagination',
                text: 'In case of a large number of results, they can be browsed ' +
                      'using this sub-page navigation.',
                attachTo: '.sodar-paginate-button left',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }

        if ($('#sodar-search-not-found-alert').length) {
            tour.addStep('search_not_found', {
                title: 'Data Not Found',
                text: 'Data types in which we could not find anything are ' +
                      'listed here.',
                attachTo: '#sodar-search-not-found-alert top',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }
    });
  </script>
{% endblock javascript %}
