{% extends 'projectroles/base.html' %}
{% load projectroles_tags %}
{% load projectroles_common_tags %}
{% load rules %}
{% load static %}

{% block title %}
  Search Results for "{{ search_term }}"
  {% if search_type %}
    (type:{{ search_type }})
  {% endif %}
{% endblock title %}

{% block css %}
  {{ block.super }}

  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/DataTables-1.10.16/integration/dataTables.fontAwesome.css' %}"/>

  <style type="text/css">
    div.omics-search-card {
        display: none;  /* Will be enabled after DataTables init */
    }

    div.omics-search-card-body {
        padding: 0;
        overflow-x: hidden; /* Fix possible overflow when resizing window */
    }

    table.omics-search-table {
      display: inline-table;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      border-bottom: 0 !important;

    }

    .table.omics-search-table thead tr th {
      padding: 12px !important;
      padding-right: 22px !important; /* Avoid covering sort icons */
      max-width: 250px !important;
    }

    .table.omics-search-table tbody tr td {
      padding: 12px !important;
      max-width: 250px !important;
    }

    .omics-header-input-group-search {
        max-width: 200px;
    }

    /* DataTables HACKS */

    .dataTables_paginate {
      width: 100%;
      padding: 12px !important;
      text-align: right;
      border-top: 1px solid #dfdfdf !important;
    }

    th.sorting {
      padding-left: 10px !important;
      border-bottom: 0 !important;
    }

    th.sorting::after {
      padding-top: 7px !important;
    }

    .previous::before {
        display: none !important;
    }

    .next::after {
        display: none !important;
    }

    /* Responsive modifications */

    @media screen and (max-width: 1000px) {
    .omics-header-input-group-search {
      display: none;
    }
  }

  </style>
{% endblock css %}

{% block projectroles %}

{% has_perm 'projectroles.create_project' request.user as can_create_project %}

<div class="row omics-pr-content-title">
  <h2 class="omics-pr-content-title">Search Results</h2>
    <div class="omics-pr-content-title-secondary text-muted">
      for "{{ search_term }}"
      {% if search_type %}
        (type:{{ search_type }})
      {% endif %}
    </div>
</div>

<div class="container-fluid omics-page-container">
  {% if search_type and search_type != 'project' and app_search_data|length == 0 %}
    <div class="alert alert-danger" role="alert">
      <strong>Error:</strong> Search type "{{ search_type }}" not recognized!
    </div>

  {% else %}
    {# Project Search #}

    {% if not search_type or search_type == 'project' %}

      {% if project_results|length > 0 %}
        {% include 'projectroles/_search_header.html' with search_title='Projects' result_count=project_results|length icon='cube' %}

        <table class="table table-striped omics-card-table omics-search-table" id="omics-pr-search-table">
          <thead>
            <tr>
              <th>Project</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for p in project_results %}
              {% include 'projectroles/_project_search_item.html' %}
            {% endfor %}
          </tbody>
        </table>

        {% include 'projectroles/_search_footer.html' %}

      {% endif %}

    {% endif %}

    {# App Search #}
    {% for app in app_search_data %}
      {% if app.plugin.search_template %}
        {% include app.plugin.search_template with plugin=app.plugin search_results=app.results %}
      {% endif %}
    {% endfor %}

  {% endif %}

  {% autoescape off %}
    {% print_not_found_alert project_results app_search_data search_type %}
  {% endautoescape %}

</div>

{% endblock projectroles %}

{% block javascript %}
  {{ block.super }}

  <!-- Settings for Javascript -->
  <script type="text/javascript">
    window.searchPagination = {% get_setting 'PROJECTROLES_SEARCH_PAGINATION' %};
    window.refreshCellOverflow = true;
  </script>

  <!-- Project search JQuery -->
  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

  <!-- DataTables -->
  <script type="text/javascript" src="{% static 'datatables/datatables.min.js'%}"></script>

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    $(document).ready(function() {
        if ($('.omics-search-card').length) {
            tour.addStep('search_card', {
                title: 'Matching Items',
                text: 'Matching projects and items are listed in cards separated ' +
                      'by data type.',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }

        if ($('.omics-search-highlight').length) {
            tour.addStep('search_highlight', {
                title: 'Search Highlight',
                text: 'Search terms are highlighted for each matching object.',
                attachTo: '.omics-search-highlight right',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }

        if ($('.omics-paginate-button').length) {
            tour.addStep('search_paginate', {
                title: 'Search Pagination',
                text: 'In case of a large number of results, they can be browsed ' +
                      'using this sub-page navigation.',
                attachTo: '.omics-paginate-button left',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }

        if ($('#omics-search-not-found-alert').length) {
            tour.addStep('search_not_found', {
                title: 'Data Not Found',
                text: 'Data types in which we could not find anything are ' +
                      'listed here.',
                attachTo: '#omics-search-not-found-alert top',
                advanceOn: '.docs-link click',
                showCancelLink: true
            });
        }
    });
  </script>
{% endblock javascript %}
