{% extends 'projectroles/base.html' %}

{% load rules %}
{% load projectroles_common_tags %}
{% load crispy_forms_filters %}

{% block title %}
  {% if object %}Update{% else %}Create{% endif %} Local User
{% endblock title %}

{% block projectroles %}

<div class="container-fluid sodar-subtitle-container">
  <h2>
    <i class="iconify" data-icon="mdi:account"></i>
    {% if object %}Update{% else %}Create{% endif %} Local User
  </h2>
</div>

<div class="container-fluid sodar-page-container">
  <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <div class="row">
      <div class="btn-group ml-auto" role="group">
        <button type="submit" class="btn btn-primary">
          <i class="iconify" data-icon="mdi:check-bold"></i>
          {% if object %}Update{% else %}Create{% endif %}
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock projectroles %}
