DJANGO_DEBUG=1

# PostgreSQL
DATABASE_URL="postgres://sodar_core:sodar_core@127.0.0.1/sodar_core"

# General settings
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=CHANGE_ME!
# DJANGO_ALLOWED_HOSTS=*

# Used with email
EMAIL_SENDER=sender@your.domain
EMAIL_URL=smtp://server.your.domain
EMAIL_SUBJECT_PREFIX=[Your SODAR Project]

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
DJANGO_SENTRY_DSN=

# LDAP settings
ENABLE_LDAP=0

# Projectroles settings
PROJECTROLES_SEND_EMAIL=1
PROJECTROLES_SITE_MODE=SOURCE
PROJECTROLES_DISABLE_CATEGORIES=0

# API settings
SODAR_API_DEFAULT_HOST=https://your.deployment.host

# Taskflow settings
# TASKFLOW_SODAR_SECRET=abc123
