{# Projectroles dependency #}
{% load projectroles_common_tags %}

<div class="btn-group sodar-list-btn-group" id="sodar-ff-folder-buttons-{{ item.sodar_uuid }}">
  <button class="btn btn-secondary dropdown-toggle sodar-list-dropdown"
      type="button" data-toggle="dropdown" aria-expanded="false">
    <i class="iconify" data-icon="mdi:cog"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="{% url 'filesfolders:folder_update' item=item.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:lead-pencil"></i> Update Folder
    </a>
    <a class="dropdown-item text-danger" href="{% url 'filesfolders:folder_delete' item=item.sodar_uuid %}">
      <i class="iconify" data-icon="mdi:close-thick"></i> Delete Folder
    </a>
    {% get_history_dropdown obj=folder project=folder.project as history_item %}
    {{ history_item|safe }}
  </div>
</div>
