{% extends 'projectroles/project_base.html' %}
{% load projectroles_common_tags %}
{% load rules %}
{% load crispy_forms_tags %}
{% comment %}{% load dict %}{% endcomment %}
{% load rules %}
{% load bgjobs_tags %}

{% block title %}
  Background Jobs for {{ project.title }}
{% endblock title %}

{% block projectroles_extend %}

{% has_perm 'bgjobs.view_data' request.user project as can_view_data %}

{% has_perm 'bgjobs.clear_own_jobs' request.user project as can_clear_own_jobs %}
{% has_perm 'bgjobs.clear_all_jobs' request.user project as can_clear_all_jobs %}

<div class="row sodar-subtitle-container">
  <h3><i class="iconify" data-icon="mdi:server"></i> Background Jobs</h3>
  {% if can_clear_own_jobs or can_clear_all_jobs %}
    {% include 'bgjobs/_list_buttons.html' %}
  {% endif %}
</div>

<div class="container-fluid sodar-page-container">
  {% include 'bgjobs/_backgroundjob_list.html' %}
</div>

{% endblock projectroles_extend %}
