{% extends 'projectroles/project_base.html' %}

{# Projectroles dependency #}
{% load projectroles_common_tags %}

{# Access Django rules #}
{% load rules %}

{% block title %}
  Example App Page Title
{% endblock title %}

{% block head_extend %}
  {# OPTIONAL: extra content under <head> goes here #}
{% endblock head_extend %}

{% block css %}
  {{ block.super }}
  {# OPTIONAL: Extend or override CSS here #}
{% endblock css %}

{% block projectroles_extend %}

  {# Content of your app goes here #}

  {# Page subtitle example #}
  {# Using the example CSS classes is recommended #}
  <div class="container-fluid sodar-subtitle-container">
    <h3><i class="iconify" data-icon="mdi:rocket-launch"></i> Example Project App</h3>
  </div>

  {# Page content example #}
  {# Using the example CSS classes is recommended #}
  <div class="container-fluid sodar-page-container">

    <div class="alert alert-info">
      This is an example and the entry point for <code>example_project_app</code>.
      {% get_display_name 'PROJECT' title=True %} <strong>"{{ project.title }}"</strong> was found in the page context! Yay!
    </div>

    {# Backend API usage example, see related view #}
    {% if backend_data %}
      <div class="alert alert-success">
        Data retrieved from example backend app plugin: <code>{{ backend_data }}</code>
      </div>
    {% endif %}

    {# Backend css or javacript includes #}
    {% get_backend_include 'example_backend_app' 'css' as backend_css %}
    {% if backend_css %}
      <div class="alert alert-success">
        CSS of example backend app plugin included here:
        {{ backend_css|safe }}
      </div>
    {% endif %}

    {% get_backend_include 'example_backend_app' 'js' as backend_js %}
    {% if backend_js %}
      <div class="alert alert-success">
        Javascript of example backend app plugin included here:
        {{ backend_js|safe}}
      </div>
    {% endif %}

  </div> <!-- sodar-page-container -->

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}
  {# OPTIONAL: include additional Javascript here #}
{% endblock javascript %}
