{% extends 'projectroles/project_base.html' %}
{% load rules %}
{% load timeline_tags %}

{% block title %}{{ timeline_title }} {% if timeline_mode == 'project' %}for{% else %}in{% endif %} {{ project.title }}{% endblock title %}

{% block css %}
  {{ block.super }}
  <style type="text/css">

    /* Main table */
    table#omics-tl-table tr td:nth-child(1) {
      white-space: nowrap;
    }

    table#omics-tl-table td:nth-child(5) {
      width: 100%;
    }

    /* Detail table */
    table#omics-tl-table-detail tr td:nth-child(1) {
        white-space: nowrap;
    }

    table#omics-tl-table-detail tr td:nth-child(2) {
        max-width: 300px;
        white-space: normal;
    }

    /* Responsive modifications */
    @media screen and (max-width: 1200px) {
      .table#omics-tl-table tr th:nth-child(2) {
        display: none;
      }

      .table#omics-tl-table tr td:nth-child(2) {
        display: none;
      }
    }

    @media screen and (max-width: 1000px) {
      .table#omics-tl-table tr th:nth-child(3) {
        display: none;
      }

      .table#omics-tl-table tr td:nth-child(3) {
        display: none;
      }
    }

    @media screen and (max-width: 800px) {
      .table#omics-tl-table tr td:nth-child(1) {
        white-space: normal;
      }

      .table#omics-tl-table tr th:nth-child(4) {
        display: none;
      }

      .table#omics-tl-table tr td:nth-child(4) {
        display: none;
      }
    }

    @media screen and (max-width: 500px) {
      .table#omics-tl-table tr th:nth-child(6) {
        display: none;
      }

      .table#omics-tl-table tr td:nth-child(6) {
        display: none;
      }
    }

  </style>
{% endblock css %}

{% block projectroles_extend %}

{% has_perm 'timeline.view_timeline' request.user project as can_view_timeline %}

<div class="row omics-subtitle-container bg-white sticky-top">
  <h3><i class="fa fa-clock-o"></i> {{ timeline_title }}</h3>
  {% if timeline_mode == 'object' %}
    <div class="input-group omics-header-input-group ml-auto">
      <a href="{% url 'timeline:project_timeline' project=project.omics_uuid %}"
         class="btn btn-secondary ml-auto"
         role="button">
        <i class="fa fa-arrow-circle-left"></i> Project Timeline
      </a>
    </div>
  {% endif %}
</div>

{% if object_list.count > 0 %}
  <div class="container-fluid omics-pr-main-container my-3">
    <div class="card omics-card-single" id="omics-tl-event-list">
      <div class="card-body omics-card-body-table">
       <table class="table table-striped omics-card-table" id="omics-tl-table">
         <thead>
           {% include 'timeline/_list_header.html' %}
         </thead>
         <tbody>
           {% for event in object_list %}
             {% include 'timeline/_list_item.html' %}
           {% endfor %}
          </tbody>
       </table>
      </div>
    </div>
  </div>

  {% if is_paginated %}
    <div class="row">
      <div class="btn-group ml-auto" id="omics-tl-nav-buttons">
        {% if page_obj.has_previous %}
          <a role="button" class="btn btn-secondary"
              href="?page={{ page_obj.previous_page_number }}">
            <i class="fa fa-arrow-circle-left"></i>
            Newer
          </a>
        {% else %}
          <a role="button" class="btn btn-secondary disabled"
              href="#">
            <i class="fa fa-arrow-circle-left"></i>
            Newer
          </a>
        {% endif %}
        {% if page_obj.has_next %}
          <a role="button" class="btn btn-secondary"
              href="?page={{ page_obj.next_page_number }}">
            <i class="fa fa-arrow-circle-right"></i>
            Older
          </a>
        {% else %}
          <a role="button" class="btn btn-secondary disabled"
              href="#">
            <i class="fa fa-arrow-circle-right"></i>
            Older
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% else %}
  <div class="container-fluid">
    <div class="alert alert-info my-3" role="alert">
      No timeline events found for this
      {% if timeline_mode == 'project' %}project{% else %}object{% endif %}.
    </div>
  </div>
{% endif %}

{% endblock projectroles_extend %}

{% block javascript %}
  {{ block.super }}

  {# Tour content #}
  <script type="text/javascript">
    tourEnabled = true;

    tour.addStep('event_list', {
        title: 'Event List',
        text: 'This is the list of events for the project, organized by ' +
              'newest first.',
        attachTo: '#omics-tl-event-list top',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    tour.addStep('event_details', {
        title: 'Event Details',
        text: 'Click an event timestamp to open a popup with details ' +
              'regarding each event.',
        attachTo: '#omics-tl-header-timestamp right',
        advanceOn: '.docs-link click',
        showCancelLink: true
    });

    if ($('#omics-tl-nav-buttons').length) {
        tour.addStep('timeline_nav', {
            title: 'Timeline Navigation',
            text: 'Use these buttons to navigate through project events.',
            attachTo: '#omics-tl-nav-buttons left',
            advanceOn: '.docs-link click',
            showCancelLink: true,
            scrollTo: true
        });
    }
  </script>
{% endblock javascript %}
