{% extends "projectroles/base.html" %}

{% block title %}User Profile for {{ object.name }}{% endblock %}

{% block projectroles %}
<div class="row omics-pr-content-title">
  <h2 class="omics-pr-content-title">{{ object.name }}</h2>
  <div class="omics-pr-content-title-secondary text-muted">
    User Profile
  </div>
</div>

<div class="container-fluid omics-page-container">

  <div class="card omics-card" id="omics-user-details-card">
    <div class="card-header">
      <h4><i class="fa fa-user-circle-o"></i> Details</h4>
    </div>
    <div class="card-body omics-card-body">
      <dl class="row">
        <dt class="col-md-2">Full Name</dt>
        <dd class="col-md-10">{{ object.name }}</dd>
        <dt class="col-md-2">Username</dt>
        <dd class="col-md-10">{{ object.username }}</dd>
        <dt class="col-md-2">Email</dt>
        <dd class="col-md-10"><a href="mailto:{{ object.email }}">{{ object.email }}</a></dd>
        <dt class="col-md-2">Date Joined</dt>
        <dd class="col-md-10">{{ object.date_joined|date:'Y-m-d H:i' }}</dd>
      </dl>
    </div>
  </div>

</div>
{% endblock projectroles %}
